.footerContainer {
  max-width: 100vw;
  background-color: black;
  color: white;
  margin-bottom: 0px;
  min-height: 250px;
}
.scrollDiv {
  display: flex;
  font-size: 29px;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  font-size: 17px;
}
.title {
  text-align: center;
  font-family: Grotesque, serif;
  font-size: 2rem;
}
.textDescription {
  text-align: center;
  font-size: 1rem;
  font-family: Grotesque, serif;
  line-height: 26px;
}
.mediaLinks {
  display: flex;
  flex-direction: row;
  font-family: Grotesque, serif;
  margin: auto;
  justify-content: center;
}
.link {
  text-decoration: underline;
  margin: 30px;
  font-weight: 500;
  font-size: 1rem;
}
.footerBottomText {
  text-align: center;
  width: fit-content;
  justify-content: center;
  margin: auto;
}
