.footerContainer {
  width: 100vw;
  background-color: black;
  color: white;
  margin-bottom: 0px;
  min-height: 250px;
  padding-bottom: 20px;
}
.scrollDiv {
  display: flex;
  font-size: 29px;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  font-size: 17px;
}
.title {
  text-align: center;
  font-family: Grotesque, serif;
  font-size: 2rem;
}
.textDescription {
  text-align: center;
  font-size: 1rem;
  font-family: Grotesque, serif;
  line-height: 26px;
}
.mediaLinks {
  display: flex;
  flex-direction: row;
  font-family: Grotesque, serif;
  margin: auto;
  justify-content: center;
}
.link {
  text-decoration: underline;
  margin: 30px;
  font-weight: 500;
  font-size: 1rem;
}
.footerBottomText {
  text-align: center;
  font-family: Grotesque, serif;
  width: fit-content;
  justify-content: center;
  margin: auto;
  font-size: 0.75rem;
}

.p {
  max-height: 20px;
  width: fit-content;

  display: flex;
  flex-direction: row;

  animation-duration: 15s;
  animation-name: slidein;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.p1 {
  margin-right: 20px;
}
