.container {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
}
.content {
  background-color: rgb(222, 209, 235);
}
.firstPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: auto;
}
.firstPostImage {
  margin: auto;
  max-width: 854px;
  height: 533px;
  cursor: pointer;
}
.firstPostTitle {
  text-align: center;
  margin: auto;
  max-width: 858px;
  height: 162px;
  left: 293px;
  top: 787px;
  font-family: Grotesque, serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 54px;
  line-height: 100%;
  margin-top: 44px;
  margin-bottom: 32px;
  cursor: pointer;
}
.postDescription {
  font-family: Grotesque, serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  max-width: 858px;
  margin: auto;
  cursor: pointer;
}
