.container {
  max-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  margin-bottom: 20px;
}
.firstPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: auto;
}
.firstPostImage {
  margin: auto;
  max-width: 854px;
  max-height: 533px;
  cursor: pointer;
}
.firstPostTitle {
  text-align: center;
  margin: auto;
  max-width: 858px;
  font-family: Grotesque, serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 54px;
  line-height: 100%;
  margin-top: 44px;
  margin-bottom: 32px;
  cursor: pointer;
}
.postDescription {
  font-family: Grotesque, serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  max-width: 858px;
  margin: auto;
  cursor: pointer;
  padding-bottom: 50px;
}
.solid {
  width: 792px;
  border-top: 1px solid #bbb;
  margin: auto;
}
.bold {
  width: 792px;
  border-top: 3px solid rgb(22, 21, 21);
  margin: auto;
}
.articlesTitle {
  font-size: 2.75rem;
  font-family: Grotesque, serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.articles {
  width: 60vw;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post {
  margin: 30px;
  cursor: pointer;
}
.postImage {
  max-width: 364px;
  max-height: 277px;
  margin-bottom: 10px;
  cursor: pointer;
}
.postTitle {
  max-width: 360px;

  text-align: center;
  font-size: 1.375rem;
  font-weight: 500;
  font-family: Grotesque, serif;
  color: #1f714a;
  cursor: pointer;
}
.roseDivider {
  display: flex;
  align-items: center;
  width: calc(50% - 1rem);
}
.before {
  display: inline-block;
  width: calc(50% - 1rem);
  height: 2px;
  background: #000;
}
.after {
  display: inline-block;
  width: calc(50% - 1rem);
  height: 2px;
  background: #000;
}
.rose {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background: url(https://www.nordicrose.net/assets/hr-rose.svg) 50% 50%
    no-repeat;
}

.linkParagraph {
  max-width: 726px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  cursor: pointer;
  margin: auto;
}
.bookMark {
  margin: 23px;
  height: 0.75rem;
  width: 0.75rem;
  background: url(https://www.nordicrose.net/assets/bookmark-arrow-green.svg)
    50% 50% no-repeat;
}
.linkParagraphTitle {
  color: #1f714a;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
  font-family: Grotesque, serif;
  text-decoration: underline;
}
.paragraph {
  max-width: 642px;
  font-family: Grotesque, serif;
  margin: 15px;
}
.description {
  margin: 15px 0px;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.64);
}
.footer {
  color: rgba(0, 0, 0, 0.44);
}
.tags {
  display: flex;
}
.dashedDivider {
  border-bottom: 1px dashed #bbb;
}
